@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("./assets/JetBrainsMono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono-Bold";
  src: url("./assets/JetBrainsMono-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "JetBrainsMono-Bold", monospace;
  background-color: #1e1e1e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
